#createEmployee{
    display: flex;
    width: 100%;
    gap: 50px;
    text-align: center;
    background-color: #188764;
    padding: 30px 0px;
    margin: 20px auto;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    flex-wrap: wrap;
}

.formContainer{
   text-align: center;
}

#createEmployee input{
    max-height: 40px;
    border-radius: 10px;
    text-align: center;
    border: none;
    font-size: 20px;
    min-width: fit-content;
    margin: 0px 30px;
}

#department{
    min-width: fit-content;
    max-height: 40px;
    margin-top: 50%;
}

.departmentContainer{
    margin-right: 30px;
}

#createEmployee select{
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
}

button{
    padding: 10px 30px;
    border-radius: 25px;
    border: none;
    background-color: #188764;
    color: white;
    font-size: 20px;
}

.adress{
    margin-top: 10px;
}

@media screen and (max-width:1000px){
    #createEmployee{
        gap: 10px;
        flex-direction: column;
    }

    #department{
        margin: 0px;
    }
}

@media screen and (max-width:670px){
    #createEmployee{
        padding: 0px;
        flex-direction: column;
    }

    #department{
        margin-top: 0px;
    }

    .departmentContainer{
        padding-bottom: 50px;
    }

    button{
        margin-bottom: 50px;
    }

}



